<% content_for :top_content do %>
    <section class="container">
      <div class = "row">
        <div class="col-xs-8 col-xs-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <article class="jumbotron">
                <h1>Hello, world!</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              </article>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="thumbnail">
              <h2>Heading</h2>
              <div class="caption">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-default" role="button">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="thumbnail">
              <h2>Heading</h2>
              <div class="caption">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-default" role="button">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="thumbnail">
              <h2>Heading</h2>
              <div class="caption">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-default" role="button">View Details</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-3">
          <aside class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </aside>
        </div>
      </div>
    </section>
<% end %>